*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.application {
 background : #FE8AC0;
}

.imageSlider{
  width: 200px;
  height: 200px;
}

.wrapper {
position: relative;
margin: 0px auto;
}

.Dialog {
  width: 10%;
  height: 10%
}

.box {
position: absolute;
/* background : #B16086; */
}
